<footer class="footer">
    <div class="footer-container">

        <!-- Left Section -->
        <div class="footer-left">
            <div class="logo">
                <img class="logo" src="/images/cropped_logo-removebg-preview.png" alt="">
                <span class="logo-text"><p style="color: #178a3a;">Ekatra</p><p style="color: #e75f04; opacity: 0.8;">Bharat</p></span>
            </div>
            <p class="footer-description">
               <b>Ekatra Bharat</b> is a unified platform to explore temples, mosques, and churches across India. It
                provides essential details like location, timings, and key information, making it easy for users to
                discover and connect with places of faith.
            </p>

            <div class="social-icons">
                <a href="#"><i class="fab fa-x-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
            </div>
        </div>

        <!-- Right Section -->
        <div class="footer-links">

            <div>
                <h4>Legal</h4>
                <ul>
                    <li><a href="/docs">Privacy Policy</a></li>
                    <li><a href="/tutorials">Terms of Service</a></li>
                </ul>
            </div>
            <div>
                <h4>Resources</h4>
                <ul>
                    <li><a href="/docs">Documentation</a></li>
                    <li><a href="/tutorials">Tutorials</a></li>
                    <li><a href="/support">Support</a></li>
                </ul>
            </div>

            <div>
                <h4>Support</h4>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/partners">Partners</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Bottom Bar -->
    <div class="footer-bottom">
        <p>© <%= new Date().getFullYear() %> Ekatra Bharat. All rights reserved.</p>

        <div class="footer-bottom-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Service</a>
        </div>
    </div>
</footer>